<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <title>TinyApp - Login</title>
  </head>
<body>
  <h3>Create Account</h3>
  <form class="form" action="/login" method="POST">
    <div class="form-group mb-2">
      <label for="email" class="ml-3">Email Address:</label>
      <input class="form-control" type="email" name="email" placeholder="Enter email" style="width: 300px; margin:1em" required>

      <label for="email" class="ml-3">Password:</label>
      <input class="form-control" type="password" name="password" placeholder="password" style="width: 300px; margin:1em" required>

      <button type="submit" class="btn btn-primary ml-3">Login</button>
    </div>
  </form>
  
</body>
</html>